html5
html
  head
    title= pageTitle
  body
    header
      h1= pageTitle
    a(href="/") Home
    section.login
      ul
        if session.isLoggedIn
          li
            a(href="/logout") Logout
        else
          li
            a(href="/login") Login
          li
            a(href="/signup") Create Account
    section.content
      block content
